@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap');
* {
  box-sizing: border-box;
}
html {
  font-family: verdana;
  font-size: 11px;
  line-height: 19.8px;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-size: 42px;
  font-weight: 300;
  font-family: Open Sans, sans-serif;
  text-transform: uppercase;
}

h1 strong {
  font-weight: 700;
}

h3 {
  font-weight: 300;
  font-family: Open Sans, sans-serif;
  text-transform: uppercase;
  font-size: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  display: grid;
grid-gap: 50px;
justify-content: space-between;
grid-template-columns: repeat(2, 1fr);
}

.form_group--large {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: grid;
  grid-gap: 40px;
  grid-auto-rows:auto;
  justify-content: center;
}

#darkmode {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 0;
  width: 50px;
  height: 50px;
  background: transparent;
  border: 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23fff;opacity:0;%7D.cls-2%7Bfill:%23231f20;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3Emoon%3C/title%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='moon'%3E%3Cg id='moon-2' data-name='moon'%3E%3Crect class='cls-1' width='24' height='24'/%3E%3Cpath class='cls-2' d='M12.3,22h-.1a10.31,10.31,0,0,1-7.34-3.15,10.46,10.46,0,0,1-.26-14,10.13,10.13,0,0,1,4-2.74,1,1,0,0,1,1.06.22,1,1,0,0,1,.24,1,8.4,8.4,0,0,0,1.94,8.81,8.47,8.47,0,0,0,8.83,1.94,1,1,0,0,1,1.27,1.29A10.16,10.16,0,0,1,19.6,19,10.28,10.28,0,0,1,12.3,22Z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.largura {
  display: flex;
  grid-gap: 20px;
}

.cores {
  display: flex;
  grid-gap: 20px;
}

.cor {
  display: flex;
  flex-direction: column;
}

.form_titulo{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 3fr 2fr 80px;
  max-width: 700px;
}

.titulo {
  display: flex;
  flex-direction: column;
}

#bordaLargura {
  width: 100%;
}

#bordaLarguraType {
  width: 100px;
}

.codigo {
  grid-columns: span 2;
}

#codigo {
  width: 100%;
  height: 500px;
}

#reset {
  display:none;
}
